.login
{
    position:relative;
    background-color:#662323;
    width:100vw;
    height: 100vh;
}

.login__content{
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

.login__content > img {
    width:700px;
}

.login__content > a {
    padding:10px;
    border:1px solid #EB5757;
    border-radius: 100px;
    font-size: 3rem;
    font-family: Quicksand;
    color:white;
    font-weight: bolder;
    text-decoration: none;
    outline:none;
    transition:all 0.2s ease;
}
.login__content > a:hover{
    transform: scale(1.1);
}